{% extends 'main.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/delete.css' %}">
{% endblock %}


{% block content%}
<a href="{% url 'detail_contact' contact.id %}"><i class="fas fa-arrow-circle-left"></i></a>

{% if contact.image.url %}
<img src="{{contact.imageURL}}" class="detail_img">
{% else %}
<img src="{% static 'images/profile.png' %}" class="detail_img">
{% endif %}
<h2>{{contact.name}}</h2>
<p class="confirm">Are you sure you want to delete this contact?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" class="btn btn-danger col-sm-12" value="Delete Contact"></input>
</form>
{% endblock %}
