body {
  background: rgb(0,0,0);
  background: linear-gradient(104deg, rgba(0,0,0,0.861782212885154) 0%, rgba(0,150,136,1) 47%, rgba(7,91,83,1) 100%);
}

a, a:hover {
  text-decoration: none;
  color: #212529d9;
}

.wrapper {
  width: 540px;
  margin: 20px auto;
  background: #e6e6e6;
  border-radius: 7px;
  box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.55);
  position: relative;
}

.fa-arrow-circle-left {
  position: absolute;
  width: 30px;
  top: 30px;
  left: 35px;
  font-size: 30px;
  color: #888;
  cursor: pointer;
  text-decoration: none;
}

.fa-arrow-circle-left:hover {
  color: #666;
}

.detail_img {
  padding: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto 15px auto;
}

h2 {
  text-align: center;
}

.detail_form {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

.info_line {
  width: 90%;
  margin: 5px auto;
  position: relative;
}

.info_line label {
  margin-left: 3px;
  font-size: 14px;
}


.detail_input {
  margin: 4px 0;
  background: #d3d3d326;
  border-radius: 4px;
  width: 100%;
  padding: 15px 0 15px 60px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #f6f6f6, #dedede);
  box-shadow:  2px 2px 3px #d2d2d2;
}

.info_line i {
  position: absolute;
  top: 40%;
  left: 7px;
  background: green;
  border-radius: 50%;
  padding: .8em;
  color: #fff;
  background: linear-gradient(104deg, rgba(0,150,136,1) 47%, rgba(7,91,83,1) 100%);
}

.detail_buttons {
  width: 80%;
  margin: 10px auto 5px auto;
}

.detail_buttons > * {
  margin-top: 10px;
}
